.device-container {
    transition: transform 0.3s ease-in-out; /* Smooth scaling */
  }
  
  .device-container:hover {
    transform: scale(0.6); /* Scale up on hover */
  }
  
  .group-hover\:opacity-100 {
    transition: opacity 0.3s ease-in-out; /* Smooth overlay effect */
  }
  